.Element_Selected {
    background-color: rgb(226, 244, 210);
}

.Element_Unselected {
    background-color: rgb(255, 255, 255);
}

li {
    
    list-style: none;
}

h2 {
    border-bottom: 3px solid #7a7f82;
    text-Align: center;
    font-family:'Californian FB'
}

    
.div_in_li {
    padding: 10px;
    border: outset;
    width: fit-content;
    height: fit-content;
    font: italic small-caps bold 16px/2 cursive;
}

.Control_buttons {
    border: outset;
    background-color: lightgreen;
    padding: 5px 30px 5px 30px;
}

